.store {
    h1 {  
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d;
}
 
 
/* An entry in the store catalog */
.entry {
    overflow: auto; 
    margin-top: 1em; 
    border-bottom: 1px dotted #77d; 
    min-height: 100px;  

    img { 
        width: 80px;
        margin-right: 5px;
        margin-bottom: 5px;
        position: absolute;  
    }
    h3 {
        font-size: 120%;
        font-family: sans-serif;
        margin-left: 100px;
        margin-top: 0;
        margin-bottom: 2px;
        color: #227;
    }
    
    
    p, div.price_line {
        margin-left: 100px;
        margin-top: 0.5em;
        margin-bottom: 0.8em;
    }
    
    
    .price {
        color: #44a;
        font-weight: bold;
        margin-right: 3em;
        } 
    }
}

body, body > p, body > ol, body > ul, body > td {margin: 8px !important}

#banner {
    position: relative;
    min-height: 40px;
    background: #9c9;
    padding: 10px;
    border-bottom: 2px solid;
    font: small-caps 40px/40px "Times New Roman", serif;
    color: #282;
    text-align: center;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
    }
}

#notice {
    color:  #000 !important;
    border: 2px solid red;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    font: bold smaller sans-serif;
}

#notice:empty {
    display: none
}

#column {
    backgroud: #141;
    display: flex;

    #main {
        padding: 1em;
        background: white;
        flex: 1;
    }

    #side {
        padding: 1em 2em;
        background: #141;

        ul {
            list-style: none;
            a {
                color: #bfb;
                font-size: small;
            }
        }
    }
}

@media all and (max-width: 800px) {
    #column {
        flex-direction: column-reverse;
    }
}

@media all and (max-width: 500px) {
    #banner {
        height: 1em;
    }

    #banner .title {
        display: none;
    }
}